.card {
  background-color: white;
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px #a3a3a3, 0 6px 12px #a3a3a3;
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: white;
}

.card .content {
  font-size: 18px;
  background-color: white;
  color: var(--cadet-blue);
  font-weight: bold;
  text-align: center;
}

.card-title {
  margin-top: 10px;
  color: black;
}

.project-icons-container {
  background-color: white;
}

.project-icon {
  background-color: white;
  padding: 5px;
}

.description {
  font-size: small;
  font-style: italic;
}
